<a href="https://colab.research.google.com/github/faruk17035/3rd-Work/blob/main/3rd_work%2Bcalcium%2BLSTM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [43]:
import pandas as pd
from pandas import read_excel
file_name = '/content/gdrive/MyDrive/calcium/cal_AAC.csv' 
#df = pd.read_excel(file_name, index_col=0)
df = pd.read_csv(file_name)
#print(df.head()) # print the first 5 rows
df

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,A12,A13,A14,A15,A16,A17,A18,A19,A20,Target
0,0.034483,0.120690,0.043103,0.060345,0.051724,0.103448,0.017241,0.060345,0.094828,0.051724,...,0.043103,0.025862,0.017241,0.043103,0.060345,0.060345,0.068966,0.000000,0.017241,1
1,0.062762,0.050209,0.041841,0.083682,0.037657,0.087866,0.012552,0.037657,0.062762,0.071130,...,0.066946,0.025105,0.016736,0.066946,0.083682,0.054393,0.058577,0.008368,0.041841,1
2,0.084507,0.112676,0.028169,0.000000,0.000000,0.070423,0.014085,0.042254,0.098592,0.098592,...,0.014085,0.014085,0.028169,0.084507,0.098592,0.112676,0.042254,0.000000,0.014085,1
3,0.085714,0.114286,0.028571,0.014286,0.000000,0.057143,0.014286,0.028571,0.100000,0.128571,...,0.000000,0.014286,0.028571,0.085714,0.071429,0.114286,0.057143,0.000000,0.028571,1
4,0.085366,0.085366,0.073171,0.060976,0.109756,0.036585,0.000000,0.012195,0.073171,0.109756,...,0.036585,0.036585,0.012195,0.024390,0.060976,0.048780,0.036585,0.024390,0.012195,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296,0.037500,0.000000,0.025000,0.012500,0.100000,0.087500,0.037500,0.050000,0.050000,0.187500,...,0.050000,0.037500,0.050000,0.012500,0.050000,0.062500,0.087500,0.037500,0.012500,0
1297,0.036585,0.060976,0.012195,0.012195,0.097561,0.012195,0.048780,0.097561,0.036585,0.158537,...,0.060976,0.048780,0.060976,0.012195,0.036585,0.048780,0.048780,0.012195,0.085366,0
1298,0.072289,0.036145,0.060241,0.048193,0.024096,0.060241,0.024096,0.024096,0.048193,0.096386,...,0.048193,0.072289,0.096386,0.036145,0.072289,0.096386,0.012048,0.000000,0.036145,0
1299,0.141026,0.000000,0.038462,0.051282,0.025641,0.051282,0.000000,0.076923,0.025641,0.089744,...,0.051282,0.038462,0.064103,0.076923,0.115385,0.012821,0.064103,0.012821,0.012821,0
1300,0.035294,0.023529,0.035294,0.047059,0.035294,0.047059,0.011765,0.094118,0.035294,0.094118,...,0.105882,0.035294,0.082353,0.082353,0.058824,0.058824,0.011765,0.023529,0.070588,0

In [44]:
from datetime import datetime
df.shape

(1301, 21)

In [45]:
features = np.array(df.columns[:-1])
target = 'Target'

X = df[features]
y = df[target]

In [47]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.10, random_state = 50)

In [48]:
print(X_train.shape)
print(X_test.shape)

(1170, 20)
(131, 20)

## Creating the model

In [49]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout

In [50]:
model = Sequential()

### Adding the first LSTM layer and some Dropout regularisation

In [51]:
model.add(LSTM(units = 10, return_sequences = True, input_shape = (20, 1)))
model.add(Dropout(0.1))

### Adding a second LSTM layer and some Dropout regularisation

In [52]:
model.add(LSTM(units = 10, return_sequences = True))
#model.add(Dropout(0.2))

### Adding a third LSTM layer and some Dropout regularisation

In [53]:
#model.add(LSTM(units = 50, return_sequences = True))
#model.add(Dropout(0.2))

### Adding a fourth LSTM layer and some Dropout regularisation

In [54]:
model.add(LSTM(units = 10))
#model.add(Dropout(0.1))

### Adding the output layer

In [55]:
#regressor.add(Dense(units = 1))
model.add(Dense(1, activation='sigmoid'))

### Compiling the RNN

In [56]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_10 (LSTM)              (None, 20, 10)            480

 dropout_8 (Dropout)         (None, 20, 10)            0

 lstm_11 (LSTM)              (None, 20, 10)            840

 lstm_12 (LSTM)              (None, 10)                840

 dense_3 (Dense)             (None, 1)                 11

=================================================================
Total params: 2,171
Trainable params: 2,171
Non-trainable params: 0
_________________________________________________________________

### Fitting the RNN

In [57]:
#model.fit(X_train, y_train, epochs=3, batch_size=64)

history = model.fit(X_train, y_train, epochs=20, batch_size=32, validation_data=(X_test, y_test), verbose=1)

Epoch 1/20
37/37 [==============================] - 9s 57ms/step - loss: 0.6303 - accuracy: 0.8034 - val_loss: 0.5150 - val_accuracy: 0.8168
Epoch 2/20
37/37 [==============================] - 1s 20ms/step - loss: 0.4778 - accuracy: 0.8222 - val_loss: 0.4763 - val_accuracy: 0.8168
Epoch 3/20
37/37 [==============================] - 1s 20ms/step - loss: 0.4688 - accuracy: 0.8222 - val_loss: 0.4765 - val_accuracy: 0.8168
Epoch 4/20
37/37 [==============================] - 1s 21ms/step - loss: 0.4688 - accuracy: 0.8222 - val_loss: 0.4770 - val_accuracy: 0.8168
Epoch 5/20
37/37 [==============================] - 1s 20ms/step - loss: 0.4689 - accuracy: 0.8222 - val_loss: 0.4765 - val_accuracy: 0.8168
Epoch 6/20
37/37 [==============================] - 1s 20ms/step - loss: 0.4687 - accuracy: 0.8222 - val_loss: 0.4763 - val_accuracy: 0.8168
Epoch 7/20
37/37 [==============================] - 1s 19ms/step - loss: 0.4686 - accuracy: 0.8222 - val_loss: 0.4768 - val_accuracy: 0.8168
Epoch 8/20
37/37 [==============================] - 1s 20ms/step - loss: 0.4685 - accuracy: 0.8222 - val_loss: 0.4763 - val_accuracy: 0.8168
Epoch 9/20
37/37 [==============================] - 1s 21ms/step - loss: 0.4688 - accuracy: 0.8222 - val_loss: 0.4764 - val_accuracy: 0.8168
Epoch 10/20
37/37 [==============================] - 1s 20ms/step - loss: 0.4684 - accuracy: 0.8222 - val_loss: 0.4762 - val_accuracy: 0.8168
Epoch 11/20
37/37 [==============================] - 1s 21ms/step - loss: 0.4681 - accuracy: 0.8222 - val_loss: 0.4763 - val_accuracy: 0.8168
Epoch 12/20
37/37 [==============================] - 1s 20ms/step - loss: 0.4683 - accuracy: 0.8222 - val_loss: 0.4761 - val_accuracy: 0.8168
Epoch 13/20
37/37 [==============================] - 1s 20ms/step - loss: 0.4691 - accuracy: 0.8222 - val_loss: 0.4765 - val_accuracy: 0.8168
Epoch 14/20
37/37 [==============================] - 1s 21ms/step - loss: 0.4687 - accuracy: 0.8222 - val_loss: 0.4765 - val_accuracy: 0.8168
Epoch 15/20
37/37 [==============================] - 1s 20ms/step - loss: 0.4685 - accuracy: 0.8222 - val_loss: 0.4763 - val_accuracy: 0.8168
Epoch 16/20
37/37 [==============================] - 1s 20ms/step - loss: 0.4682 - accuracy: 0.8222 - val_loss: 0.4760 - val_accuracy: 0.8168
Epoch 17/20
37/37 [==============================] - 1s 20ms/step - loss: 0.4684 - accuracy: 0.8222 - val_loss: 0.4759 - val_accuracy: 0.8168
Epoch 18/20
37/37 [==============================] - 1s 20ms/step - loss: 0.4687 - accuracy: 0.8222 - val_loss: 0.4757 - val_accuracy: 0.8168
Epoch 19/20
37/37 [==============================] - 1s 20ms/step - loss: 0.4682 - accuracy: 0.8222 - val_loss: 0.4753 - val_accuracy: 0.8168
Epoch 20/20
37/37 [==============================] - 1s 20ms/step - loss: 0.4671 - accuracy: 0.8222 - val_loss: 0.4749 - val_accuracy: 0.8168

In [59]:
from sklearn.metrics import confusion_matrix, accuracy_score
y_pred = model.predict(X_test)

In [60]:
y_pred = (y_pred > 0.5) 

cmann = confusion_matrix(y_test,y_pred) 
print(cmann)


accuracy = (cmann[0][0]+cmann[1][1])/(cmann[0][1] + cmann[1][0] +cmann[0][0] +cmann[1][1]) 
print(accuracy*100)

[[107   0]
 [ 24   0]]
81.67938931297711

In [62]:
p = model.predict(X_test)[:,0]
from sklearn.metrics import roc_auc_score
print("AUC = ",roc_auc_score(y_test,p))

AUC =  0.6927570093457944

In [63]:
from sklearn.metrics import matthews_corrcoef,confusion_matrix
matthews_corrcoef(y_test,y_pred)

0.0

In [64]:
TP = cmann[0][0]
TN = cmann[1][1]
FP = cmann[0][1]
FN = cmann[1][0]
print('True Positives:', TP)
print('True Negatives:', TN)
print('False Positives:', FP)
print('False Negatives:', FN)

True Positives: 107
True Negatives: 0
False Positives: 0
False Negatives: 24

In [65]:
sensitivity=(TP/(TP+FN))
sensitivity

0.816793893129771

In [66]:
specificity = (TN/(TN+FP))
specificity

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in long_scalars
  """Entry point for launching an IPython kernel.

nan

In [67]:
precision = (TP/(TP+FP))
recall = (TP/(TP+FN))
print(precision)
print(recall)

1.0
0.816793893129771

In [68]:
f1 = (2*(precision*recall))/(precision+recall)
f1

0.8991596638655461