<a href="https://colab.research.google.com/github/faruk17035/3rd-Work/blob/main/3rd_calcium%2BCNN%2BAAC_descriptor%2B10_fold_Cross_Validation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
import pandas as pd
from pandas import read_excel
file_name = '/content/gdrive/MyDrive/calcium/cal_AAC.csv' 
#df = pd.read_excel(file_name, index_col=0)
df = pd.read_csv(file_name)
#print(df.head()) # print the first 5 rows
df

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,A12,A13,A14,A15,A16,A17,A18,A19,A20,Target
0,0.034483,0.120690,0.043103,0.060345,0.051724,0.103448,0.017241,0.060345,0.094828,0.051724,...,0.043103,0.025862,0.017241,0.043103,0.060345,0.060345,0.068966,0.000000,0.017241,1
1,0.062762,0.050209,0.041841,0.083682,0.037657,0.087866,0.012552,0.037657,0.062762,0.071130,...,0.066946,0.025105,0.016736,0.066946,0.083682,0.054393,0.058577,0.008368,0.041841,1
2,0.084507,0.112676,0.028169,0.000000,0.000000,0.070423,0.014085,0.042254,0.098592,0.098592,...,0.014085,0.014085,0.028169,0.084507,0.098592,0.112676,0.042254,0.000000,0.014085,1
3,0.085714,0.114286,0.028571,0.014286,0.000000,0.057143,0.014286,0.028571,0.100000,0.128571,...,0.000000,0.014286,0.028571,0.085714,0.071429,0.114286,0.057143,0.000000,0.028571,1
4,0.085366,0.085366,0.073171,0.060976,0.109756,0.036585,0.000000,0.012195,0.073171,0.109756,...,0.036585,0.036585,0.012195,0.024390,0.060976,0.048780,0.036585,0.024390,0.012195,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296,0.037500,0.000000,0.025000,0.012500,0.100000,0.087500,0.037500,0.050000,0.050000,0.187500,...,0.050000,0.037500,0.050000,0.012500,0.050000,0.062500,0.087500,0.037500,0.012500,0
1297,0.036585,0.060976,0.012195,0.012195,0.097561,0.012195,0.048780,0.097561,0.036585,0.158537,...,0.060976,0.048780,0.060976,0.012195,0.036585,0.048780,0.048780,0.012195,0.085366,0
1298,0.072289,0.036145,0.060241,0.048193,0.024096,0.060241,0.024096,0.024096,0.048193,0.096386,...,0.048193,0.072289,0.096386,0.036145,0.072289,0.096386,0.012048,0.000000,0.036145,0
1299,0.141026,0.000000,0.038462,0.051282,0.025641,0.051282,0.000000,0.076923,0.025641,0.089744,...,0.051282,0.038462,0.064103,0.076923,0.115385,0.012821,0.064103,0.012821,0.012821,0
1300,0.035294,0.023529,0.035294,0.047059,0.035294,0.047059,0.011765,0.094118,0.035294,0.094118,...,0.105882,0.035294,0.082353,0.082353,0.058824,0.058824,0.011765,0.023529,0.070588,0

In [4]:
from datetime import datetime
df.shape

(1301, 21)

In [5]:
#Split data into independent (X) and dependent(Y) columns

y = df['Target'].values
X = df.drop('Target', axis=1).values

In [7]:
from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 20)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 100)

In [8]:
print(X_train.shape)
print(X_test.shape)

(1040, 20)
(261, 20)

In [9]:
from sklearn import datasets, metrics
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [10]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Flatten, Dense, Dropout, BatchNormalization
from tensorflow.keras.layers import Conv1D, MaxPool1D

from tensorflow.keras.optimizers import Adam

import  seaborn as sns
import matplotlib.pyplot as plt
from sklearn import datasets, metrics
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [11]:
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score
from keras.models import Sequential
from keras.layers import Dense
def built_classifier():
  model = Sequential()
  model.add(Conv1D(filters=32, kernel_size=4, activation='relu', input_shape = (20,1)))
  model.add(BatchNormalization())
  model.add(Dropout(0.2))

  model.add(Conv1D(filters=64, kernel_size=4, activation='relu'))
  model.add(BatchNormalization())
  model.add(Dropout(0.5))

  model.add(Flatten())
  model.add(Dense(64, activation='relu'))
  model.add(Dropout(0.5))

  model.add(Dense(1, activation='sigmoid'))
  model.compile(optimizer=Adam(lr=0.0001), loss = 'binary_crossentropy', metrics=['accuracy'])

  return model

model = KerasClassifier(build_fn = built_classifier,batch_size=100,epochs=50)
accuracies = cross_val_score(estimator=model,X=X_train,y=y_train,cv=5,n_jobs=-1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:24: DeprecationWarning: KerasClassifier is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.

In [12]:
accuracies

array([0.95192307, 0.95192307, 0.98076922, 0.98076922, 0.92788464])

In [14]:
mean = accuracies.mean()

In [15]:
mean

0.9586538434028625

In [16]:
### Now making Confusion matrix
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import confusion_matrix,accuracy_score
y_pred1 = cross_val_predict(model,X_train, y_train, cv=10,n_jobs=-1)
cmann1=confusion_matrix(y_train, y_pred1)
print(cmann1)
accuracy1 = (cmann1[0][0]+cmann1[1][1])/(cmann1[0][1] + cmann1[1][0] +cmann1[0][0] +cmann1[1][1]) 
print(accuracy1*100)

[[851   9]
 [ 33 147]]
95.96153846153847

In [17]:
from sklearn.metrics import roc_auc_score
print("AUC = ",roc_auc_score(y_train,y_pred1))

AUC =  0.9031007751937984

In [18]:
from sklearn.metrics import matthews_corrcoef,confusion_matrix
matthews_corrcoef(y_train,y_pred1)

0.8541628435179641

In [19]:
TP = cmann1[0][0]
TN = cmann1[1][1]
FP = cmann1[0][1]
FN = cmann1[1][0]
print('True Positives:', TP)
print('True Negatives:', TN)
print('False Positives:', FP)
print('False Negatives:', FN)

True Positives: 851
True Negatives: 147
False Positives: 9
False Negatives: 33

In [20]:
sensitivity=(TP/(TP+FN))
sensitivity

0.9626696832579186

In [21]:
specificity = (TN/(TN+FP))
specificity

0.9423076923076923

In [22]:
precision = (TP/(TP+FP))
recall = (TP/(TP+FN))
print(precision)
print(recall)

0.9895348837209302
0.9626696832579186

In [23]:
f1 = (2*(precision*recall))/(precision+recall)
f1

0.9759174311926605