<a href="https://colab.research.google.com/github/faruk17035/3rd-Work/blob/main/CNN%2B3rd_calcium%2BCNN%2BPAAC_descriptor%2B10_fold_Cross_Validation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
import pandas as pd
from pandas import read_excel
file_name = '/content/gdrive/MyDrive/calcium/cal_PAAC.csv' 
#df = pd.read_excel(file_name, index_col=0)
df = pd.read_csv(file_name)
#print(df.head()) # print the first 5 rows
df

,Xc1.A,Xc1.R,Xc1.N,Xc1.D,Xc1.C,Xc1.Q,Xc1.E,Xc1.G,Xc1.H,Xc1.I,...,Xc2.lambda2,Xc2.lambda3,Xc2.lambda4,Xc2.lambda5,Xc2.lambda6,Xc2.lambda7,Xc2.lambda8,Xc2.lambda9,Xc2.lambda10,Target
0,2.134649,2.668312,2.668312,2.668312,7.471272,1.067325,3.735636,6.403948,1.067325,3.735636,...,0.041568,0.044960,0.047837,0.044699,0.046423,0.047815,0.049161,0.048022,0.048208,1
1,7.518396,8.019623,8.019623,5.012264,6.014717,2.004906,10.024528,10.525755,1.503679,4.511038,...,0.054710,0.044541,0.050106,0.051907,0.046856,0.049057,0.045716,0.052596,0.052101,1
2,3.242188,3.242188,0.540365,1.080729,4.322918,1.080729,0.000000,2.701823,0.540365,1.621094,...,0.041622,0.042830,0.043422,0.051258,0.038896,0.045552,0.042342,0.050067,0.052146,1
3,3.171973,3.171973,0.000000,1.057324,4.229298,1.057324,0.528662,2.114649,0.528662,1.057324,...,0.045610,0.040029,0.047778,0.049541,0.046201,0.046240,0.046455,0.048303,0.046023,1
4,3.797621,1.085035,1.627552,3.255104,3.797621,0.542517,2.712586,1.627552,0.000000,0.542517,...,0.041859,0.042847,0.042750,0.044118,0.047034,0.048849,0.046695,0.053096,0.048845,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296,1.630799,0.543600,2.174399,1.087200,0.000000,2.174399,0.543600,3.805198,1.630799,2.174399,...,0.047020,0.049766,0.044627,0.039747,0.038946,0.044839,0.050290,0.048245,0.049684,0
1297,1.750122,0.583374,2.916871,0.583374,2.916871,2.916871,0.583374,0.583374,2.333496,4.666993,...,0.039854,0.044362,0.037729,0.042268,0.042712,0.040581,0.041281,0.040837,0.046223,0
1298,3.319434,1.659717,2.212956,2.766195,1.659717,4.425912,2.212956,2.766195,1.106478,1.106478,...,0.043983,0.044149,0.042121,0.042136,0.042860,0.050377,0.053817,0.048523,0.038556,0
1299,5.335993,2.910542,1.940361,1.455271,0.000000,2.425452,1.940361,1.940361,0.000000,2.910542,...,0.040217,0.051592,0.046111,0.052075,0.058168,0.049885,0.058677,0.054725,0.055597,0
1300,1.476951,3.446219,4.430852,1.476951,0.984634,3.446219,1.969268,1.969268,0.492317,3.938535,...,0.053073,0.046417,0.053413,0.053082,0.047861,0.051401,0.049591,0.042489,0.055238,0

In [4]:
from datetime import datetime
df.shape

(1301, 31)

In [5]:
#Split data into independent (X) and dependent(Y) columns

y = df['Target'].values
X = df.drop('Target', axis=1).values

In [6]:
from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 20)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.01, random_state = 20)

In [7]:
print(X_train.shape)
print(X_test.shape)

(1287, 30)
(14, 30)

In [8]:
from sklearn import datasets, metrics
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [9]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Flatten, Dense, Dropout, BatchNormalization
from tensorflow.keras.layers import Conv1D, MaxPool1D

from tensorflow.keras.optimizers import Adam

import  seaborn as sns
import matplotlib.pyplot as plt
from sklearn import datasets, metrics
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [10]:
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score
from keras.models import Sequential
from keras.layers import Dense
def built_classifier():
  model = Sequential()
  model.add(Conv1D(filters=32, kernel_size=4, activation='relu', input_shape = (30,1)))
  model.add(BatchNormalization())
  model.add(Dropout(0.2))

  model.add(Conv1D(filters=64, kernel_size=4, activation='relu'))
  model.add(BatchNormalization())
  model.add(Dropout(0.2))

  model.add(Flatten())
  model.add(Dense(64, activation='relu'))
  model.add(Dropout(0.1))

  model.add(Dense(1, activation='sigmoid'))
  model.compile(optimizer=Adam(lr=0.001), loss = 'binary_crossentropy', metrics=['accuracy'])

  return model

model = KerasClassifier(build_fn = built_classifier,batch_size=100,epochs=50)
accuracies = cross_val_score(estimator=model,X=X_train,y=y_train,cv=10,n_jobs=-1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:24: DeprecationWarning: KerasClassifier is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.

In [11]:
accuracies

array([0.96899223, 1.        , 0.96899223, 0.99224806, 0.97674417,
       0.96899223, 0.97674417, 0.984375  , 0.9921875 , 0.9921875 ])

In [12]:
mean = accuracies.mean()

In [13]:
mean

0.9821463108062745

In [14]:
### Now making Confusion matrix
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import confusion_matrix,accuracy_score
y_pred1 = cross_val_predict(model,X_train, y_train, cv=10,n_jobs=-1)
cmann1=confusion_matrix(y_train, y_pred1)
print(cmann1)
accuracy1 = (cmann1[0][0]+cmann1[1][1])/(cmann1[0][1] + cmann1[1][0] +cmann1[0][0] +cmann1[1][1]) 
print(accuracy1*100)

[[1050    8]
 [  19  210]]
97.9020979020979

In [15]:
from sklearn.metrics import roc_auc_score
print("AUC = ",roc_auc_score(y_train,y_pred1))

AUC =  0.954734565506311

In [16]:
from sklearn.metrics import matthews_corrcoef,confusion_matrix
matthews_corrcoef(y_train,y_pred1)

0.9273238690484517

In [17]:
TP = cmann1[0][0]
TN = cmann1[1][1]
FP = cmann1[0][1]
FN = cmann1[1][0]
print('True Positives:', TP)
print('True Negatives:', TN)
print('False Positives:', FP)
print('False Negatives:', FN)

True Positives: 1050
True Negatives: 210
False Positives: 8
False Negatives: 19

In [18]:
sensitivity=(TP/(TP+FN))
sensitivity

0.9822263797942001

In [19]:
specificity = (TN/(TN+FP))
specificity

0.963302752293578

In [20]:
precision = (TP/(TP+FP))
recall = (TP/(TP+FN))
print(precision)
print(recall)

0.9924385633270322
0.9822263797942001

In [21]:
f1 = (2*(precision*recall))/(precision+recall)
f1

0.9873060648801129