<a href="https://colab.research.google.com/github/faruk17035/3rd-Work/blob/main/LightGBM%2Bset1%2BUbiquitin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [163]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [211]:
import pandas as pd
import numpy as np
from pandas import read_csv
file_name = '/content/drive/MyDrive/dataset/set3/PAAC_set3.csv' 
df = pd.read_csv(file_name)
df

,PAAC1,PAAC2,PAAC3,PAAC4,PAAC5,PAAC6,PAAC7,PAAC8,PAAC9,PAAC10,...,PAAC25,PAAC26,PAAC27,PAAC28,PAAC29,PAAC30,PAAC31,PAAC32,PAAC33,Target
0,0.418383,1.255149,1.255149,0.000000,0.0,0.418383,0.418383,1.255149,0.836766,0.418383,...,0.030603,0.039000,0.048488,0.047625,0.055403,0.042392,0.029802,0.052396,0.033058,1
1,0.472824,0.472824,0.472824,0.945648,0.0,0.000000,0.000000,1.891295,0.472824,0.000000,...,0.037490,0.038036,0.033278,0.037099,0.030071,0.041940,0.039903,0.051875,0.036776,1
2,0.000000,0.436770,0.873539,1.747078,0.0,0.873539,0.436770,0.436770,0.436770,0.436770,...,0.044776,0.045003,0.038801,0.040104,0.049823,0.056618,0.049219,0.041525,0.039583,1
3,0.921663,0.460831,1.382494,0.000000,0.0,0.460831,0.460831,0.000000,0.000000,0.460831,...,0.042662,0.046097,0.047408,0.040307,0.041904,0.032269,0.046344,0.036817,0.038731,1
4,0.406953,1.220860,0.813907,0.406953,0.0,0.406953,1.220860,0.406953,0.000000,0.406953,...,0.044659,0.042088,0.054695,0.041973,0.053871,0.050426,0.046580,0.047335,0.051053,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12231,0.000000,1.399521,0.000000,0.000000,0.0,0.466507,1.399521,0.466507,0.466507,0.000000,...,0.036190,0.043032,0.044776,0.043907,0.024024,0.040783,0.047584,0.030870,0.054533,0
12232,0.000000,0.852196,0.000000,0.426098,0.0,2.130490,2.130490,0.426098,0.426098,0.000000,...,0.052239,0.033931,0.047687,0.046713,0.050932,0.047543,0.041887,0.034332,0.044114,0
12233,1.835859,0.458965,0.917930,0.458965,0.0,0.458965,0.917930,0.000000,0.000000,0.000000,...,0.030298,0.052950,0.034688,0.046696,0.038379,0.042808,0.047945,0.028479,0.040564,0
12234,0.490720,1.962881,0.490720,0.490720,0.0,0.490720,0.000000,0.000000,0.490720,0.000000,...,0.034536,0.048018,0.045315,0.028944,0.037847,0.043421,0.052395,0.036390,0.037408,0
12235,0.000000,1.546558,0.000000,1.031038,0.0,0.515519,1.546558,1.031038,0.515519,0.000000,...,0.033347,0.033885,0.047247,0.040066,0.033231,0.031225,0.031257,0.042913,0.041518,0

In [212]:
y = df['Target'].values
X = df.drop('Target', axis=1).values

In [213]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.10, random_state = 20)

In [214]:
### Feature scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [223]:
# build the lightgbm model
import lightgbm as lgb
#clf = lgb.LGBMClassifier()
#clf.fit(X_train, y_train)
clf = lgb.LGBMClassifier(boosting_type='gbdt', num_leaves=50, max_depth= 30, learning_rate=0.1)
clf.fit(X_train, y_train)

LGBMClassifier(max_depth=30, num_leaves=50)

In [224]:
y_pred = clf.predict(X_test)

In [225]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[350 239]
 [174 461]]

0.6625816993464052

In [226]:
from sklearn.metrics import roc_auc_score
print("AUC = ",roc_auc_score(y_test,y_pred))

AUC =  0.6601058781064931

In [227]:
from sklearn.metrics import matthews_corrcoef,confusion_matrix
matthews_corrcoef(y_test,y_pred)

0.3233457217212421

In [228]:
TP = cm[0][0]
TN = cm[1][1]
FP = cm[0][1]
FN = cm[1][0]
print('True Positives:', TP)
print('True Negatives:', TN)
print('False Positives:', FP)
print('False Negatives:', FN)

True Positives: 350
True Negatives: 461
False Positives: 239
False Negatives: 174

In [229]:
sensitivity=(TP/(TP+FN))
sensitivity

0.6679389312977099

In [230]:
specificity = (TN/(TN+FP))
specificity

0.6585714285714286