<a href="https://colab.research.google.com/github/faruk17035/3rd-Work/blob/main/XGBoost%2B3rd_work%2BAAC%2BXGBoost%2B10_fold_cross_validation_edited.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
import pandas as pd
from pandas import read_excel
file_name = '/content/gdrive/MyDrive/calcium/cal_TPC.csv' 
#df = pd.read_excel(file_name, index_col=0)
df = pd.read_csv(file_name)
#print(df.head()) # print the first 5 rows
df

,TPC1,TPC2,TPC3,TPC4,TPC5,TPC6,TPC7,TPC8,TPC9,TPC10,...,TPC7992,TPC7993,TPC7994,TPC7995,TPC7996,TPC7997,TPC7998,TPC7999,TPC8000,Target
0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,0.0,0.0,0.000000,0.0,0.0,0.014493,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1297,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1298,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1299,0.0,0.0,0.013158,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1300,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [4]:
from datetime import datetime
df.shape

(1301, 8001)

In [5]:
#Split data into independent (X) and dependent(Y) columns

y = df['Target'].values
X = df.drop('Target', axis=1).values

In [6]:
from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 20)
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.05, random_state = 100)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.01, random_state = 100)

In [7]:
### Feature scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [19]:
from xgboost import XGBClassifier
classifier = XGBClassifier(random_state=0)
#classifier = XGBClassifier(learning_rate=0.001,  subsample = 0.8, n_estimators=1000, max_depth=8, gamma=10)

In [32]:
# for tuning
#from xgboost import XGBClassifier
##classifier = XGBClassifier(learning_rate=0.01,  subsample = 0.8, n_estimators=1000, max_depth=4, gamma=10)
##model2 = XGBClassifier()
#model2 = XGBClassifier(learning_rate=0.01,  subsample = 1, n_estimators=1000, max_depth=9, gamma=35)
#model2.fit(X_train, y_train)
#pred_prob2 = model2.predict_proba(X_test)

In [ ]:
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = classifier, X = X_train, y = y_train, cv = 10)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))

In [11]:
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import confusion_matrix,accuracy_score
y_pred = cross_val_predict(classifier, X_train, y_train, cv=10)
cmann = confusion_matrix(y_train, y_pred)
print(cmann)
accuracy = (cmann[0][0]+cmann[1][1])/(cmann[0][1] + cmann[1][0] +cmann[0][0] +cmann[1][1]) 
print(accuracy*100)
#ACC = accuracy_score(y_train,y_pred)
#print(ACC)

[[1052    4]
 [  71  160]]
94.17249417249417

In [12]:
from sklearn.metrics import roc_auc_score
print("AUC = ",roc_auc_score(y_train,y_pred))

AUC =  0.844426406926407

In [13]:
from sklearn.metrics import matthews_corrcoef,confusion_matrix
matthews_corrcoef(y_train,y_pred)

0.7927798143281021

In [14]:
TP = cmann[0][0]
TN = cmann[1][1]
FP = cmann[0][1]
FN = cmann[1][0]
print('True Positives:', TP)
print('True Negatives:', TN)
print('False Positives:', FP)
print('False Negatives:', FN)

True Positives: 1052
True Negatives: 160
False Positives: 4
False Negatives: 71

In [15]:
sensitivity=(TP/(TP+FN))
sensitivity

0.9367764915405165

In [16]:
specificity = (TN/(TN+FP))
specificity

0.975609756097561

In [17]:
precision = (TP/(TP+FP))
recall = (TP/(TP+FN))
print(precision)
print(recall)

0.9962121212121212
0.9367764915405165

In [18]:
f1 = (2*(precision*recall))/(precision+recall)
f1

0.9655805415328131

In [26]:
## AUPR score
from sklearn.metrics import average_precision_score
average_precision_score(y_train,y_pred)

0.8438479083640373